<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="*" />
            </authorization>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.html" />
                <add value="index.aspx" />
                <add value="index.htm" />
                <add value="Index.php" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Script">
            <remove name="Perl-cgi" />
            <remove name="Perl-pl" />
            <add name="Perl-pl" path="*.pl" verb="*" modules="CgiModule" scriptProcessor="C:\Perl\bin\perl.exe &quot;%s&quot; %s" resourceType="File" requireAccess="Script" />
        </handlers>
        <httpRedirect enabled="false" destination="https://subboard.com/" exactDestination="true" />
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="https://subboard.com">
                    <add key="http://subboard.com" value="https://subboard.com" />
                    <add key="http://www.subboard.com" value="https://subboard.com" />
                    <add key="subboard.com" value="https://subboard.com" />
                </rewriteMap>
                <rewriteMap name="offcampushousing.buffalo.edu">
                </rewriteMap>
                <rewriteMap name="och">
                    <add key="offcampushousing.buffalo.edu/" value="subboard.com/och" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="CanonicalHostNameRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^subboard\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://subboard.com/{R:1}" />
                </rule>
                <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>














      











    </system.webServer>
</configuration>
