<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Redirect to https for subboard.com" />
                <remove name="CanonicalHostNameRule1" />
                <remove name="CanonicalHostNameRule2" />
                <rule name="Redirect To HTTPS" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://subboard.com:8081/och" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.html" />
                <add value="index.aspx" />
                <add value="index.htm" />
                <add value="Index.php" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="https://subboard.com/och/" exactDestination="true" />
    </system.webServer>
</configuration>
