<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.html" />
                <add value="index.aspx" />
                <add value="index.htm" />
                <add value="Index.php" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="true" destination="http://healthinsurance.buffalo.edu" />
    </system.webServer>
</configuration>
