<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpRedirect enabled="false" destination="http://subboard.com/insurance.html" />
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^healthinsurance\.buffalo\.edu$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://healthinsurance.buffalo.edu/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.aspx" />
                <remove value="index.asp" />
                <remove value="index.html" />
                <add value="insurance.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
