<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.html" />
                <add value="index.aspx" />
                <add value="index.htm" />
                <add value="Index.php" />
            </files>
        </defaultDocument>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <remove users="ochguest" roles="" verbs="" />
                <add accessType="Deny" users="*" />
            </authorization>
        </security>
    </system.webServer>
    <system.web>
        <authorization>
            <allow users="ochguest" />
        </authorization>
    </system.web>
</configuration>
