<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="ochguest" />
            </authorization>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.aspx" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="Index.php" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Windows" />
    </system.web>
</configuration>
